@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
    color: white;
  }
}

html {
  scroll-behavior: smooth;
}

.slick-slide > div {
  margin: 0 10px;
}

/* LOADER */

.ctaLoader {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.ctaLoader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid currentcolor;
  border-radius: 50%;
  animation: ctaLoader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentcolor transparent transparent transparent;
}

.ctaLoader.big {
  width: 40px;
  height: 40px;
}
.ctaLoader.big div {
  width: 40px;
  height: 40px;
}

.ctaLoader div:nth-child(1) {
  animation-delay: -0.45s;
}
.ctaLoader div:nth-child(2) {
  animation-delay: -0.3s;
}
.ctaLoader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ctaLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
