@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
    color: white;
  }
}

html {
  scroll-behavior: smooth;
}

.slick-slide > div {
  margin: 0 10px;
}

/* TMDB animation */

.neon {
  filter: url(#neon);
}
